@keyframes escrevendo {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes subir-descer {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10%);
    }
}