/* Personalização da barra de rolagem para navegadores Blink (Chrome, Opera) */
html {
  scrollbar-color: var(--cor-principal) var(--cor-cinza-claro);
  scrollbar-width: 10px;
}

/* Personalização da barra de rolagem para navegadores WebKit (Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--cor-principal);
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background-color: var(--cor-cinza-claro);
}

/* Personalização da barra de rolagem para navegadores que não suportam as propriedades CSS */
/* Nesse caso, a aparência da barra de rolagem será a padrão do sistema operacional */
::-ms-scrollbar {
  /* Estilos para navegadores da família Microsoft (Edge, IE) */
}

