:root {

    /* Variáveis de Cores */
    --cor-branco: #FFFFFF;
    --cor-preto: #000000;
    --cor-principal: #e3e4ed;
    --cor-cinza-escuro: #9d9d9d;
  
    /* Variáveis de Fontes */
    --regular: 'mark-pro-regular';
    --bold: 'mark-pro-bold';
  }
  @font-face {
    font-family: 'mark-pro-bold';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('../../../files/fonts/mark-pro-bold.woff') format('woff');
  }
  @font-face {
    font-family: 'mark-pro-regular';
    font-weight: normal;
    font-style: normal;
    font-display: swap;
    src: url('../../../files/fonts/mark-pro-regular.woff') format('woff');
  }